@import "tailwindcss";

@theme {
  --color-brand-blue: #1E3A8A;
  --color-brand-blueLight: #3B82F6;
  --color-brand-blueDark: #1E40AF;
  
  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;
  
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50;
  }
}
